body
{
  background-image: url(all-of-those-images/interf/logoazul.png);
  background-repeat: no-repeat;
  background-size: 260px 70px;
  background-position: 6% 25px;
}
input[type=submit],.jumper,input[type=reset],button[type=submit],input[type=button]
{
  background-color: #D6EAF8;
  padding: 4px 4px;
  border: outset #ABB2B9;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 3px 10px #000033;
}
.DaBox
{
  width: 45%;
  margin-right:30px;
  margin-left:30px;
  border:5px groove #102b3d;
  border-radius: 25px;
  text-shadow: 1px 1px 5px #5DADE2;
  background: #f2eff5;
}
.lineR
{
  float: left;
  margin-left:5px;
  display:inline;
  width: 400px;
}
.container
{
  padding: 4px 4px;
  box-sizing: border-box;
  font-size: 14px;
  border:10px groove #616161;
  border-radius: 25px;
}
.notToday
{
  width:160px;
}
.evilbtn
{
  display: inline;
  background-color: #F7DC6F;
  border:  double #FCF3CF;
  font-size: 15px;
  font-weight: bold;
  float: right;
  margin-right: 70px;
  cursor: default;
  border-radius: 50%;
  height: 80px;
}
/* para poner negras las letras */
a
{
  color: #333;
}
/* circ ext a menu*/
#nav
{
  margin: 0; /* evitar linea blanca alta */
  padding: 7px 6px 0;
  background: #d5d2d8b0;
  line-height: 100%; /*aplastado*/
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
/*lo acuesta*/
#nav li
{
  margin: 0 5px;
  float: right;
  position: relative;
  list-style: none;
}
/*infla las letras y las hace blancas*/
#nav a
{
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
}
/*obscurecer cuando pasas mouse*/
#nav a:hover
{
  background: rgb(255, 255, 255);
}
/*colorea actual estilizado hover*/
#nav .current a, #nav li:hover > a
{
  color: rgb(57, 59, 187);
  border-top: solid 2px #000000;
  box-shadow: 0 2px 2px rgb(0, 0, 0);
  text-shadow: 0 2px 0 rgb(255, 255, 255);
}
    /*
    #nav li:hover > ul
    {
      display: block;
    }
    #nav ul li:hover a, #nav li:hover li a
    {
      background: none;
      border: none;
      color: #666;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    /*hovven mark para submenu
  #nav ul a:hover
  {
          background: #0078ff url(img/gradient.png) repeat-x 0 -100px !important;
          color: #fff !important;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0,0,0, .1);
  }*/
  /*convierte en lista los submenus y los acomoda
  #nav ul
  {
          display: none;
          margin: 0;
          padding: 0;
          width: 185px;
          position: absolute;
          top: 22px;
          left: 0;
          background: #ddd ;
          border: solid 1px #b4b4b4;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
          -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
          box-shadow: 0 1px 3px rgba(0,0,0, .3);
  }*/
  /*centra el submenu
  #nav ul li
  {
          float: none;
          margin: 0;
          padding: 0;
  }*/
  /*Pone bonita la letra de el multiverso
  #nav ul a
  {
          font-weight: normal;
          text-shadow: 0 1px 0 #fff;
  }*/
  /*hace que no ocupe toda la pantalla*/
  #nav
  {
    float:right;
          display: inline-block;
  }